In [9]:
# Numeric data
num1 = 12
num2 = 2.33
complexNum = 2 + 3j
# print(type(complexNum))
# print(type(num1))
# print(type(num2))

# Text data
st1 = "Hello there"

# Boolean
isTrue = True
isHealthy = False

# Sequenced data

# 1. List
mixList = [1,2,True,[1,2,3],"hat"]
print(mixList)

# 2. Tuple
tuple1 = (1,2,3)
# print(tuple1)

tuple2  = (("ping","100"),("org","ff"))

# 3. Range
r1 = range(1,10,2)
# print(list(r1))
for i in r1:
    i

# 4. Dictionary
dict1 = {"name":"ted","last":"talks"}
print(dict1)

# 5. Converting string to bytes
str1 = "This is a string"
arr1 = bytes(str1, 'utf-8')
print(arr1)
arr2 = bytes(str1, 'utf-16')
print(arr2)

# Creating bytes of given size
# bytestr = bytes(4)
# print(bytestr)

# 6. Set
numSet = {1,2,33,4,1,1}
# print(numSet)

[1, 2, True, [1, 2, 3], 'hat']
{'name': 'ted', 'last': 'talks'}
b'This is a string'
b'\xff\xfeT\x00h\x00i\x00s\x00 \x00i\x00s\x00 \x00a\x00 \x00s\x00t\x00r\x00i\x00n\x00g\x00'

### What are the different data types in Python? Give examples of each

In [12]:
d1 = "this is string" # string
d2 = 12 # number
d3 = None # use as a placeholder 
d4 = [1,2,3,4] # list
d5 = {"name":"vishal","partner":"unknown"} # dictionary
d6 = range(1,5,1) # range
d7 = {1,2,3,5,2,2,3} # set
d8 = True # boolean
d9 = ("stuff","needs","to","get","done") # tuple

### Identify the data type of the following:

In [17]:
print(type(42))  # int
print(type(3.14))  # float
print(type('Hello, world!'))  # str
print(type(True))  # bool
print(type([1, 2, 3]))  # list
print(type({ "name": "Alice", "age": 25 }))  # dict

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>

### How do you convert a string '123' into an integer?

In [20]:
str1 = "123"
num1 = int(str1)
print(num1)
num2 = int(input("Enter the number"))

123

Enter the number 376

### Write a Python program to check if a given variable is of type float

In [25]:
def checkTypeIsFloat(input):
    return type(input) == float

result = checkTypeIsFloat(3.4)
print(result)

True

### Convert the list [1, 2, 3, 4] into a tuple and a set.

In [27]:
l1 = [1, 2, 3, 4]
liTup = tuple(l1)
liSet = set(l1)

print(liTup)
print(liSet)

(1, 2, 3, 4)
{1, 2, 3, 4}

### Write a Python script to calculate the length of a string provided by the user.

In [31]:
def cal_length_of_str(input):
    return len(input)

print(cal_length_of_str("here we go"))

10

### Create a dictionary to store details of a student (name, age, grade). Retrieve the age from the dictionary.

In [34]:
stud1 = {
    "name": "lexy",
    "age": 12,
    "grade": "A"
}

print(stud1["age"])

12

### Write a program to check if a variable is mutable or immutable.

In [37]:
def checkMutability(input):
    return type(input) == tuple or type(input) == str

print(checkMutability(("hey", "there")))

True

In [41]:
def checkMutability(input):
    return type(input) == tuple or type(input) == str

print(checkMutability(["hy", "thre"]))

False

### Convert the integer 10 to binary, octal, and hexadecimal formats.

In [44]:
num = 10

binary = bin(num)
print(f"Binary format of {num} is {binary}")

octal = oct(num)
print(f"Octal format of {num} is {octal}")

hexadecimal = hex(num)
print(f"Hexadecimal format of {num} is {hexadecimal}")

Binary format of 10 is 0b1010
Octal format of 10 is 0o12
Hexadecimal format of 10 is 0xa

### Write a Python program to swap two numbers using tuple unpacking.

In [47]:
a = 10
b = 12
a, b = b, a
print(a, b)

12 10