In [2]:
#primitive variables
var1 = "this is a string" #string
var2 = 12 #number
var3 = True #boolean
var4 = None #This is act as a placeholder if you want to put this anywhere before any variable comes in

In [4]:
var1 = "this is"

In [8]:
print(var1)

this is

In [24]:
#sequenced variables
var5 = ["place", 12, True] #List
var6 = {"name":"t-rex","age":10000} #dictionary
var7 = {1,2,3,4,5} #set
var8 = range(0,10,2)
var9 = (1,2,3,4) #tuple

In [16]:
#range(start, stop, step)
var8 = range(0,10,2)
for i in var8:
    print(i)

0
2
4
6
8

In [14]:
var8 = range(0,10,2)
print(var8)

range(0, 10, 2)

In [22]:
#Naming convention
# variables(snake_case) 
first_name = "ganesh"

# Class name(PascalCase)
class DoStuff:
    pass

# constants

USER_LIST = ["tim", "jake","mishashi"]

# magic methods or special methods in python syntax used to defined how object of class will behave with built in method

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} is {self.age} years old"

    def __repr__(self):
        return f"Person('{self.name}', {self.age})"

p = Person("Alice", 25)
print(str(p))
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} is {self.age} years old"

    def __repr__(self):
        return f"Person('{self.name}', {self.age})"

p = Person("Alice", 25)
print(repr(p))
print(p)

Alice is 25 years old
Person('Alice', 25)
Alice is 25 years old

In [26]:
#Scope of variable
#Global scope
hero = "Iron Man"
def saveCity():
    print(f"{hero} will save the city")
saveCity()

Iron Man will save the city

In [28]:
#Block Scope
def saveCity2():
    hero = "Thor"
    print(f"{hero} will save the city")

saveCity2()
# we can use global keyword in order to declare the variable inside a block global

Thor will save the city

In [30]:
#Global scope
hero = "Iron Man"
def saveCity():
    print(f"{hero} will save the city")
saveCity()

#Block Scope
def saveCity2():
    hero = "Thor"
    print(f"{hero} will save the city")

saveCity2()
# we can use global keyword in order to declare the variable inside a block global

Iron Man will save the city
Thor will save the city

In [36]:
x = 10

def my_function():
    x = 20
    print(x)
my_function()
print(x)

20
10

In [38]:
count = 5

def increment():
    global count
    count += 1
increment()
print(count)

6

In [40]:
def calculate():
    total += 10 
    print(total)

total = 0
calculate()

UnboundLocalError: cannot access local variable 'total' where it is not associated with a value

In [50]:
#above code ka right code is below
total = 0
def calculate():
    global total
    total += 10 
    print(total)


calculate()

10

In [48]:
def update_balance(amount):
    global balance
    balance = balance + amount

balance = 100
update_balance(50)
print(balance)

150